.App {
  text-align: left;
}

.App-logo {
  max-height: 25vmin; /* Adjust as needed for desired size */
  width: auto; /* Ensures proportional scaling */
  pointer-events: none;
}



.App-header {
  background-color: #961511;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

